certifi
charset-normalizer
cycler
fonttools
idna
kiwisolver
matplotlib
numpy
packaging
Pillow
pyparsing
python-dateutil
requests
six
torch
torchvision
typing-extensions
urllib3
scipy
tqdm
pytorch-ignite
zipfile36
Pillow
